.item {
  display: grid;

  grid-template-columns: 15% 85%;

  grid-gap: 10px;
  background-color: brown;
  color: white;
  padding: 10px;
  border-radius: 30px;

  margin: 10px;
}
.item img {
  width: 140px;
  border-radius: 30px;
}
.itemInfo {
  margin-left: 20p;
}
