   .app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c"
    "f c";
  grid-template-rows: 70px 200px 200px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  
 grid-area: c;
 background-color: blue;
  

}


